# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# Build output
dist/
build/
coverage/

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db